body{
    margin: 0%;
    background-color: #889e5f;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu-button{
    cursor: pointer;
    display: inline;
    margin-right: 35%;
    margin-left: 5%;
    z-index: 1000;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
    z-index: 1000;
}
.menu{
    height: 10vh;
    width: 100%;
    background: darkolivegreen;
    position:absolute;
    top: -30vh;
    left: 0vw;
    transition: top 0.5s;
    z-index: 0;
   
    text-align: center;
}

.white{

    color: aliceblue;
    margin: 3%;
}
.text{
    color: aliceblue;
    margin: 3%;
    font-size: 1.1rem;
    font-weight: 550;
}


.link{
    color: aliceblue;
    text-decoration: none;
    font-size: 5rem;
    font-weight: 800;
    margin: 2%;

}
.small-link{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 7%;



}
.show{
    top: 15vh;
    z-index: 10;
}
.section-title{
    margin-left: 40%;
    margin-right: 40%;
    color: aliceblue;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 2%;
    margin-bottom: 0%;
}

#se{
    grid-area: se;
    background-color: darkolivegreen;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    justify-content: center;

}
#se2{
    grid-area: se2;
    background-color: darkolivegreen;;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#se3{
    grid-area: se3;
    background-color: darkolivegreen;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#se4{
    grid-area: se4;
    background-color: darkolivegreen;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.artic{
    width: 30%;
    height: 35vh;
    background-color: darkolivegreen;
    margin: 2%;
    border-radius: 7px;
}
#lake1{
    width: 58%;
    height: 33vh;
    background-image: url("../img/slu-artdatabanken-sjoarochvattendrag-880x660.jpg");
 
    margin: 2%;
    border-radius: 7px;
}
#lake2{
    width: 58%;
    height: 33vh;
    background-image: url("../img/Holmevattnet.jpg");
    margin: 2%;
    border-radius: 7px;
}

#naturereserve{

    width: 58%;
    height: 33vh;
    background-image: url("../img/natur.jpg");
   
    margin: 2%;
    border-radius: 7px;
}
#naturereserve2{
    width: 58%;
    height: 33vh;
    background-image: url("../img/nature2.jpg");
    margin: 2%;
    border-radius: 7px;
}
#berg{
    width: 58%;
    height: 33vh;
    background-image: url("../img/berg.jpg");
    margin: 2%;
    border-radius: 7px;
}
.link{
    color: aliceblue;
    text-decoration: none;
    font-size: 3.5rem;
    font-weight: 800;
    margin: 2%;
}   

.small-link{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 2%;


}

@media screen and (max-width: 500px) {
    #divmain{
        display: grid;
        grid-template-rows: 15vh 75vh 75vh 40vh 15vh;
        grid-template-columns:100%;
        grid-template-areas: 
        'hd'
        'divBild'
        'seS1'
        'divBild2'
        'ft';
    }
    #divmain2{
        display: grid;
        grid-template-rows: 15vh 10vh 90vh 10vh 90vh 10vh 90vh 10vh 15vh;
        grid-template-columns:5% 90% 5%;
        grid-template-areas: 
        'hd hd hd'
        '.. .. ..'
        '.. se ..' 
        '.. .. ..'
        '.. se2 ..' 
        '.. .. ..'
        '.. se3 ..' 
        '.. .. ..'
        'ft ft ft';
    }
    #divmain3{
        display: grid;
        grid-template-rows: 15vh 30vh 30vh 30vh 30vh 30vh 15vh;
        grid-template-columns:30% 50% 20%;
        grid-template-areas: 
        'hd hd hd' 
        'as titeldiv ..'
        'as at ..' 
        'as titeldiv2 ..'
        'as at2 ..' 
        'as titeldiv3 ..'
        'ft ft ft';
    }
    #divmain4{
        display: grid;
        grid-template-rows: 15vh 200vh 15vh;
        grid-template-columns:100%;
        grid-template-areas: 
        'hd' 
        'ma' 
        'ft';
    }
 
    .hd{
        grid-area: hd;
        display: flex;
        color: aliceblue;
        background-color: darkolivegreen;
        text-align: center;
        margin: 0%;
        padding: 0%;
        justify-content: left;
        flex-wrap: nowrap;
        align-items: center;
        z-index: 12;
        
    }
    .menu-button{
        margin-right: 27%;
    }

     .menu-button i.material-icons{
        display: block;
       }
    #divBild{
        grid-area: divBild;
        text-align: center;
        font-size: 3.5rem;
        background-color: white;
        background-image: url("../img/Mobil_Skogen_bra.png");
    
    }
    .link{
        display: none;
    }
    #as{
        grid-area: as;
        text-align: center;
        font-size: 3.5rem;
        background-color: white;
        background-image: url("../img/Namnlös\ design.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 110% 80%;
        

    }
    #divBild2{
        grid-area: divBild2;
        text-align: center;
        font-size: 3.5rem;
        background-color: white;
      
    }
    #titeldiv{
        display: flex;
        grid-area: titeldiv;
        text-align: center;
        font-size: 3.5rem;
        align-items: center;
     
    }
    #titeldiv2{
        display: flex;
        grid-area: titeldiv2;
        text-align: center;
        font-size: 3.5rem;
        align-items: center;
     
    }
    #titeldiv3{
        display: flex;
        grid-area: titeldiv3;
        text-align: center;
        font-size: 3.5rem;
       align-items: center;
     
    }
   
    #seS1{
        grid-area: seS1;
        display: flex;
        flex-wrap: wrap;
        background-color: #889e5f;
        align-content: center;
        justify-content: center;
        
    }
    #se4{
        display: none;
    }
    #ma{
        grid-area: ma;
        background-color:#889e5f;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        color: aliceblue;;
      
    }

    #questionsarticle{
        width: 90%;
        height: 120vh;
        background-color: darkolivegreen;
    }
    #questionsarticle2{
        width: 90%;
        height: 50vh;
        margin: 5%;
        background-color: darkolivegreen;
    }

    #at{
        grid-area: at;
        background-color: darkolivegreen;
        border-radius: 7px;
        text-align: center;
    }


    #at2{
        grid-area: at2;
        background-color: darkolivegreen;
        border-radius: 7px;
        text-align: center;
    }

    #artS1{
        width: 94%;
        height: 30vh;
        background-color: darkolivegreen;
        margin: 2%;
        border-radius: 7px;
    }
    #art2S1{
        width: 45%;
        height: 30vh;
        margin: 2%;
        background-color: darkolivegreen;
        border-radius: 7px;
    }
    #art3S1{
        width: 45%;
        height: 30vh;
        margin: 2%;
        background-color: darkolivegreen;
        border-radius: 7px;
    }

    #ft{
        grid-area: ft;
        text-align: center;
        font-size: 3.5rem;
        background-color: darkolivegreen;

    } 
    #divmaincomputer2{
        display: none;
    }

    #title-se{
        display: none;
    }
    
    
}@media screen and (min-width: 501px) {

    #divmain{
        display: grid;
        grid-template-rows: 15vh 75vh 75vh 75vh 15vh;
        grid-template-columns:100%;
        grid-template-areas: 
        'hd'
        'divBild'
        'se'
        'divBild2'
        'ft';
    }
    #divmain2{
        display: grid;
        grid-template-rows: 15vh 10vh 90vh 10vh 90vh 10vh 15vh;
        grid-template-columns:2.5% 46.25% 2.5% 46.25% 2.5%;
        grid-template-areas: 
        'hd hd hd hd hd'
        '.. .. .. .. ..'
        '.. se .. se2 ..' 
        '.. .. .. .. ..'
        '.. se3 .. se4 ..' 
        '.. .. .. .. ..'
        'ft ft ft ft ft';
    }
    #divmain3{
        display: grid;
        grid-template-rows: 15vh 30vh 30vh 30vh 30vh 30vh 15vh;
        grid-template-columns:30% 50% 20%;
        grid-template-areas: 
        'hd hd hd' 
        'as titeldiv ..'
        'as at ..' 
        'as titeldiv2 ..'
        'as at2 ..' 
        'as titeldiv3 ..'
        'ft ft ft';
    }
    #divmain4{
        display: grid;
        grid-template-rows: 15vh 10vh 200vh 15vh;
        grid-template-columns:100%;
        grid-template-areas: 
        'hd' 
        'tse' 
        'ma' 
        'ft';
    }
   .hd{
        grid-area: hd;
        display: flex;
        text-align: center;
        color: aliceblue;
        background-color: darkolivegreen;
        justify-content: left;
        flex-wrap: nowrap;
        align-items: center;
        z-index: 12;
        
    }
    
    #questionsarticle{
        width: 50%;
        height: 120vh;
        background-color: darkolivegreen;
        margin: 2%;
    }
    #title-se{
        grid-area: tse;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #questionsarticle2{
        width: 28%;
        height: 120vh;
        margin: 2%;
        background-color: darkolivegreen;
    }
    .menu-button i.material-icons{
        display: block;
     }
    #divBild{
        grid-area: divBild;
        text-align: center;
        font-size: 3.5rem;
        background-image: url("../img/Skogen.png");
    }
    #divBild2{
        grid-area: divBild2;
        text-align: center;
        font-size: 3.5rem;
        background-image: url("../img/uniq-trek-bQYlRayXynE-unsplash.jpg");
    }
    #se{
        grid-area: se;
        
        background-color: darkolivegreen;
    }
    #ft{
        grid-area: ft;
        text-align: center;
        font-size: 3.5rem;
        background-color: darkolivegreen;
    }  
    #ma{
        grid-area: ma;
        background-color:#889e5f;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        color: aliceblue;;
      
    }
    .section-title2{
        margin: 10%;
        color: aliceblue;
        font-size: 2rem;
        font-weight: 800;
        margin-top: 2%;
        margin-bottom: 0%;
    }
    
   
}
